<!DOCTYPE html>
<html>
<body>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
        <img id="img" class="guepard-img" src="{{ url_for('static', filename= 'img/Poke.PNG') }}" alt="" width="200px"><br>
        <title>Logout </title>
    </head>
<strong>This is for logout</strong><br>

<p>Bienvenue {{message}} {{prenom}}</p>
<a href={{url_for ('logout')}}><button>Logout</button></a><br>
<a href={{url_for ('hello')}}><button>retourner a la page d'acceuil</button>  </a><br>
<a href={{url_for ('page2')}}> <button>retourner a la page formulaire</button> </a><br>

</body>
</html>